.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
/out*/
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
.vscode-test

# Void added these:
.tmp/
.tmp2/
.tool-versions
src/vs/workbench/contrib/void/browser/react/out/**
src/vs/workbench/contrib/void/browser/react/src2/**

# PolliDev added these:
backup_*/
VSCode-win32-x64/
out-build/
out-vscode/
out/
*.log
compile_errors.txt
compile_output.txt
installer_build.log
src2/
.vscode-test.js
.vscode/
.config/
.devcontainer/
.idx/
.eslint-ignore
.git-blame-ignore-revs
.lsifrc.json
.mailmap
.mention-bot
.voidrules
.eslint-plugin-local/
test-results/
coverage/
*.snap.actual